.box {
  width: 200px;
  height: 200px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
  margin: 50px auto;
}

.box:hover {
  transform: rotate(45deg);
}